.hero_bg {
  width: 100%;
  height: auto;
  background: linear-gradient(45deg, rgb(255, 34, 126), rgb(254, 172, 109)),
    linear-gradient(-45deg, rgb(255, 147, 46), rgb(251, 45, 158));
}
.hero_bg h1 {
  color: white;
  margin: 100px auto;
  text-align: center;
}
.tinder_logo {
  display: flex;
  justify-content: center;
}
.tinder_logo_img {
  margin: 200px auto 0;
  max-width: 350px;
  transform: scale(1);
  animation: pulse 1s infinite;
  animation-timing-function: ease-out;
  animation-direction: alternate;
}
@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.027);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.101);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.048);
  }
}
.collage_of_img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  background-color: azure;
  padding: 10px 10px;
}
@media screen and (max-width: 426px) {
  .collage_of_img {
    display: block;
  }
}
.collage_of_img img {
  max-width: 320px;
  border-radius: 50px;
  border: solid 2px white;
}
.collage_container {
  margin: auto;
  width: 90%;
}
.collage_container p {
  font-size: 22px;
  margin: 15px;
}
.reg_btn {
  display: flex;
  justify-content: center;
}

#button:hover {
  border: 2px solid rgb(192, 190, 190);
  background: linear-gradient(
    rgb(255, 60, 93, 0.644),
    rgba(255, 187, 60, 0.644)
  );
}
