.btn_login {
  border: none;
  text-decoration: none;
  border-radius: 10px;
  padding: 7px 20px;
  font-size: 18px;
  background-color: #ffffff;
  color: rgb(254, 26, 76);
}
.btn_login:hover {
  background-color: #d1d1d1;
  color: rgb(255, 75, 114);
}
.btn_logout {
  border: none;
  border-radius: 10px;
  padding: 7px 20px;
  font-size: 18px;
}
.btn_logout:hover {
  background-color: #d1d1d1;
  color: rgb(255, 75, 114);
}
@media screen and (max-width: 768px) {
  .btn_logout {
    padding: 6px 15px;
    font-size: 10px;
  }
}
